@font-face {
    font-family: "Early Bird";
    src: url(../Early\ Bird.otf);
}

@font-face {
    font-family: "Helvetica";
    src: url(../HelveticaNeue-Light.woff2);
}

@font-face {
    font-family: "Helvetica_bld";
    src: url(../Helvetica\ Neue\ Black.ttf);
}

@font-face {
    font-family: "Blair";
    src: url(../blair-itc-medium.ttf);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica';
    background-color: #e5e5e5;
    color: #000;
}

.H_bold{
    font-family: 'Helvetica_bld';
    /* font-size: 72px ; */
}

li{
    font-weight: bolder;
}

nav{
    font-family: 'Blair';
    font-size: 12.8px;
}

/* UTILITIES */

.logo{
    height: 38px;
    width: 100%;
}

.nav_line{
    display: inline-block;
    cursor: pointer;
}

.nav_line::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #998100;
    transition: width .3s;
    margin-top: 4px;
}

/* .nav_line:hover{
    border-bottom: 3px solid #998100;
    cursor: pointer;
} */

.nav_line:hover::after{
    width: 100%;
    transition: width .3s;
}

.nav_line_current{
    border-bottom: 3px solid #998100;
    cursor: pointer;
    padding-bottom: 5px;
}

.white_text{
    color: #fff;
}

.gray_text{
    color: #f8f9fa;
}

.corp_man{
    background-image: url(../imgs/041A3822-sm.jpg);
    background-size: cover;
    
}

.weekender{
    background-image: url(../imgs/DR1A7450.jpeg);
    background-size: cover;
}

.modish_man{
    background-image: url(../imgs/_0LB8871.jpg);
    background-size: cover;
}

.debonair{
    background-image: url(../imgs/debonair.png);
    background-size: cover;
}

.custom_txtf{
    border-radius: 0%;
    height: 64px;
    width: 253px;
}

.construction{
    background-image: url(../imgs/construction.jpg);
    background-size: cover;
}

.fabric{
    background-image: url(../imgs/fabrics.jpg);
    background-size: cover;
}

.fitting{
    background-image: url(../imgs/fitting.jpeg);
    background-size: cover;
}

.one{
    background-image: url(../imgs/1.jpg);
    background-size: cover;
}

.two{
    background-image: url(../imgs/2.jpg);
    background-size: cover;
}

.three{
    background-image: url(../imgs/3.jpg);
    background-size: cover;
}

.four{
    background-image: url(../imgs/4.jpg);
    background-size: cover;
}

.clean_list{
    text-decoration: none;
    color: #000;
}

.clean_list:hover{
    text-decoration: none;
    color: #000;
}

.float-startt{
    position: relative;
    top: -100px;
}

/* TEXT */

.biggest{
    font-size: 128px;
}

.biggg{
    font-size: 96px;
}

.bigg{
    font-size: 72px;
}

.small{
    font-size: 16px;
}

.big{
    font-size: 36px;
}

.medium{
    font-size: 46px;
}

.bold{
    font-weight: bold;
}

.form-text{
    border-top: 4px solid #998100;
    font-size: 16px;
    color: #000;
    text-align: justify;
    padding-left: 10px;
}

.form-text-header{
    font-size: 24px;
    text-align: left;
}

.lookbook_txt{
    background-color: #fff;
    text-align: center;
}

.center{
    text-align: center;
}

.steps_text{
    /* padding-top: 80px; */
    position: relative;
    top: 160px;
}

/* IMAGES */

.zoom {
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

/* BUTTONS */

.custom_btn_banner{
    border: 1px solid #b8a78d;
    background-color: #b8a78d;
    color: #fff;
    border-radius: 0%;
    width: 143px;
    font-size: 18px;
}

.custom_btn_banner:hover{
    background-color: #998100;
    color: #fff;
}

.custom_btn{
    border: 1px solid #998100;
    background-color: #fff;
    color: #998100;
    border-radius: 0%;
    width: 143px;
    font-size: 18px;
}

.custom_btn:hover{
    background-color: #8b7701;
    color: #fff;
}

.icons_button{
    border: 2px solid #000;
    background-color: #fff;
    color: #998100;
    border-radius: 0%;
    width: 730px;
    height: 56px;
    font-size: 18px;
}

.icons_button:hover{
    background-color: #998100;
    color: #fff;
}

.icons_button_cover{
    padding-left: 260px;
}

.icon-btn-shoulder{
    background-color: white!important;
    /* background-color: #000; */
    color: #998100;
    border-radius: 50%;
    /* font-size: 20px; */
    outline: none;
    cursor: pointer;
    position:relative;
    padding: 2%;
    opacity: 0.8;
    top: -65%;
    left: -16%;
}

.icon-btn-sleeve{
    background-color: white!important;
    /* background-color: #000; */
    color: #998100;
    border-radius: 50%;
    /* font-size: 20px; */
    outline: none;
    cursor: pointer;
    position:relative;
    padding: 2%;
    opacity: 0.8;
    top: -45%;
    left: 13%;
}

/* SHOWCASES */
#showcase_mm{
    background-image: url(../imgs/_0LB8871.jpg);
    background-size: cover;
    height: 400px;
}

#showcase_sl{
    background-image: url(../imgs/_0LB8871.jpg);
    background-size: cover;
    height: 400px;
}

.early_bird{
    /* font-size: 46px; */
    font-family: 'Early Bird';
    padding-top: 190px;
}

.sl_showcase_txt_box{
    height: 300px;
    width: 332px;
    font-size: 18px;
    text-align: justify;
    margin-right: 150px;
    margin-top: 70px;
    background: rgba(0, 0, 0, 0.0);
    backdrop-filter: blur(3px); 
}

/* FLEX AND GRIDS */
.cat_parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.parent_1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.parent_2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.steps_parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.lookbook_parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

/* BOXES */

.grid_box_cat_current{
    border: 12px solid #b8a78d;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    height: 160px;
    width: 290px;
}

.grid_box_cat{
    border: 12px solid #fff;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    height: 160px;
    width: 290px;
}

/* .grid_box_cat:hover{
    border: 12px solid #b8a78d;
} */

.grid_box_cat:hover{
    border-color:#b8a78d;
}

.grid_box_cat:visited{
    border-color:#b8a78d;
}

.grid_box_1{
    height: 640px;
    width: 900px;
}

.grid_box_2{
    height: 640px;
    width: 670px;
}

.img_box_1{
    height: 640px;
    width: 1100px;
}

.text_box_parent{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 450px;
    width: 800px;
}

.text_box_child{
    border-top: 4px solid #998100;
    background-color: #fff;
    margin-top: 40px;
    padding-top: 40px;
}

.text_box_parent2{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 300px;
    width: 600px;
}

.text_box_child2{
    border-top: 4px solid #998100;
    background-color: #fff;
    margin-top: 40px;
    padding-top: 40px;
}

.text_box_parent3{
    border: 1px solid #fff;
    background-color: #fff;
    /* margin-top: 300px; */
    width: 1000px;
}

.text_box_child3{
    border-top: 4px solid #998100;
    background-color: #fff;
    margin-top: 40px;
    padding-top: 40px;
}

.form-box{
    border: 1px solid #fff;
    background-color: #fff;
    height: 310px ;
    width: 600px;
}

.steps_box{
    height: 634px;
    width: 450px;
}

.text_box_steps_1{
    border: 1px solid #fff;
    background-color: #fff;
    height: 300px;
    padding: 40px 20px;
}

.text_box_steps_2{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 345px;
    width: 400px;
}

.text_box_steps_3{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 390px;
    width: 400px;
}

.text_box_steps_child{
    border-bottom: 4px solid #998100;
    background-color: #fff;
    /* margin-top: 40px; */
    padding-bottom: 40px;
    text-align: center;
}

.lookbook_box{
    height: 644px;
    width: 450px;
}

#lookbook_1{
    height: 144px;
    background-color: #fff;
}

#icons{
    text-align: center;
    background-color: #fff;
    /* padding-top: 20; */
}

#price{
    background-color: #fff;
}

.icons-box{
    border: 1px solid #fff;
    background-color: #fff;
    height: 96px ;
    width: 1000px;
}


.slider{
    background-color: #b8a78d;
    font-size: 14px;
}

/* .nav_line:after {
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  .nav_line:after{  transform-origin:  0% 50%; } */

.details_box{
    background-color: #fff;
    padding-top: 64px;
    margin-top: 40px ;
    padding-bottom: 64px;
}

.details_img{
    background-image: url(../imgs/cooperateManLook2.png);
    width: 815px;
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;
}

.details_txt_box{
    width: 280px;
    height: 168px;
}



/* DROPDOWN */

.dropbtn {
    border: none;
    text-decoration: none;
    color: #000;
  }

.dropbtn:hover {
    color: #000;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e5e5e5;
    opacity: 0.5;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* margin-top: 5px; */
  }

  .dropdown-content:hover {
    background-color: #fff;
    opacity: 1;
  }

  .dropdown-content a {
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    color: #998100;
}

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #fff;
}

  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}


/* JAVASCRIPT */

#shoulder_pad{
    display: none;
}

#sleeve_pad{
    display: none;
}

#details{
    display: none;
}

#the_weekender_show{
    display: none;
}


@media only screen and (max-width: 1195px){
    .navbar-brand{
        display: none;
    }
}
